 body {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
        margin-bottom: 1%;
        background-image: url('../pictures/background-green.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: 0% 0%;
        font-family: "Comic Sans Neue", sans-serif;
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .img-loader-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20%;
    }

            /* Loader */
        .loader-container {
            flex-direction: column;
            order: 1;
            width: auto;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            position: relative;

        }

            .aura { 
                position: absolute;
                width: 300px; 
                height: 300px; 
                border-radius: 50%; 
                background: conic-gradient(red, orange, yellow, lime, cyan, blue, violet, red); 
                filter: blur(100px) brightness(2); 
                animation: spin 6s linear infinite, pulse 3s ease-in-out infinite; 
                z-index: 1; 
            } 

            .loader img {
                width: 300px; 
                height: auto;
                align-items: center;
                justify-content: center;
                display: flex;
                position: relative;
                border-radius: 50%; 
                z-index: 10; 
                animation: spin 10s linear infinite reverse;
                }

                @keyframes spin { 
                from { transform: rotate(0deg); } 
                to { transform: rotate(360deg); } 
                } 
 
                @keyframes pulse { 
                0%, 100% { opacity: 0.8; transform: scale(1); filter: blur(70px) brightness(1.7); } 
                50% { opacity: 1; transform: scale(1.3); filter: blur(120px) brightness(2.5); } 
                } 
            
                @keyframes shimmer { 
                0%, 100% { opacity: 0; transform: scale(0.5); } 
                50% { opacity: 1; transform: scale(1.6); } 
                } 

        .img-container {
            width: auto;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 1;
        }

            .bdy-pcs {
                width: auto;
                height: 250px;
                order: 1;

            }

        .outer-box {
            width: 80vw;
            height: 90vh;
            border-style: solid;
            border-color: rgb(67, 47, 25);
            border-width: 7px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: auto;
            background-image: url('../pictures/stud\ bg.png');
            background-size: 90px;
            background-color: rgb(131, 94, 55);
            border-radius: 25px;
            flex-direction: column;
            gap: 20px;
            order: 3;
        }

            .store-hd {
                width: 100%;
                height: 15%;
                background-color: rgb(38, 174, 56);
                border-radius: 20px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                margin: 0px;
                display: flex;
                justify-content: flex-start; 
                align-items: center;        
                background-image: url('../pictures/stud\ bg.png');
                background-size: 90px;
                border-bottom: black 3px solid;
                box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
            }

            /*THEO*/
                .btn.restock { 
                    text-align: center;
                    font-size: large;
                    font-weight: bolder;
                    color: white;
                    padding-top: 15px;
                    background: #1e90ff;
                    background-size: 90px; 
                    border: 3px solid #0b5ed7; 
                    box-shadow: 0 4px 0 #0b5ed7; 
                    border-radius: 10px;
                    height: 35%;
                    width: 15%;
                } 
            
                /* Close button red */ 
                .btn.close { 
                    text-align: center;
                    font-size: large;
                    font-weight: bolder;
                    color: white;
                    padding-top: 15px;
                    background: #ff4040;
                    background-size: 90px; 
                    border: 3px solid #b30000; 
                    box-shadow: 0 4px 0 #b30000;
                    border-radius: 10px;
                    margin-left: 15px;
                    height: 35%;
                    width: 15%;
                } 
            
                .btn:hover { 
                    filter: brightness(1.25); 
                    transform: translateY(-2px); 
                } 

                .btn:active { 
                    transform: translateY(2px); 
                    box-shadow: 0 1px 0 rgba(0,0,0,0.4); 
                    filter: brightness(0.9); 
                } 
                
                .x-btn {
                    height: 50px;            
                    width: 50px;               
                    margin-right: 20px;      
                    cursor: pointer;
                    color: white;
                    background-color: red;
                    display: flex;         
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    list-style-type: none; 
                    /*fonts*/
                    font-family: "Comic Sans Neue", sans-serif;
                    font-size: 100%;
                    font-weight: bold;
                }

    
            .inner-box {
                width: 90%;
                height: 80%;
                padding: 20px;
                border-radius: 10px;
                order: 2;
                overflow: scroll;
                scrollbar-width: thick;
                scrollbar-color: rgba(255, 255, 255, 0.429) transparent;
            }

h1 {
    margin-right: 4%;
    margin-left: 4%;
    padding: 0%;
    font-family: Arial;
    color:  rgb(255, 255, 255); 
    -webkit-text-stroke: rgb(255, 255, 255) 0.5px;
    text-shadow: black 1px 1px 3px;
    font-weight: bolder; 
    font-family: "Comic Sans Neue", cursive;
}

ul {
    font-family: Arial;  
    list-style-type: none; 
    text-align: center;
    font-family: "Comic Sans Neue", sans-serif;
}

.card {
    background-color: #48230e;
    border-radius: 10px;
    border: 6px solid #1a0a04; 
    height: 150px;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.02);
}

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
    }

        #popup1:checked ~ #popup1-box,
        #popup2:checked ~ #popup2-box,
        #popup3:checked ~ #popup3-box,
        #popup4:checked ~ #popup4-box,
        #popup5:checked ~ #popup5-box,
        #popup6:checked ~ #popup6-box {
            display: flex;
        }

    .popup-content {
        background: white;
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        text-align: center;
    }

    .close-btn {
        float: right;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }

    .dr-btn, .jc-btn, .jm-btn, .ry-btn, .mv-btn, .al-btn {
        background: #70bc36;
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

ul {
    padding: 0;
    margin: 0 auto;
}

ul li {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

ul label {
    display: inline-block;
    margin-top: 8px;
    background: brown;
    padding: 6px 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

ul label:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {

    .outer-box {
        flex-direction: column;
    }

    .inner-box{
        order: 1;
        width: 100%;
    }

    .domeru {
        order: 2;
        margin-top: 15px;
    }
}

@font-face {
  font-family: 'Comic Sans Neue';
  src: url('fonts/ComicNeue-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

