 body {
        background-image: url('../pictures/background-green.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: 0% 0%;
        font-family: "Comic Sans Neue", sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .loader {
        display: flex;
        gap: 150px;
    }

    /*Need this to be review*/
    .img-loader-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20%;
    }

            /* Loader */
        .loader-container {
            flex-direction: column;
            width: auto;
            height: 25%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;

        }

            .loader img {
                width: 100px; 
                height: auto;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                position: relative;
                border-radius: 50%; 
                z-index: 10; 
                animation: spin 10s linear infinite reverse;
                }

                @keyframes spin { 
                from { transform: rotate(0deg); } 
                to { transform: rotate(360deg); } 
                } 
 
                @keyframes pulse { 
                0%, 100% { opacity: 0.8; transform: scale(1); filter: blur(70px) brightness(1.7); } 
                50% { opacity: 1; transform: scale(1.3); filter: blur(120px) brightness(2.5); } 
                } 
            
                @keyframes shimmer { 
                0%, 100% { opacity: 0; transform: scale(0.5); } 
                50% { opacity: 1; transform: scale(1.6); } 
                } 

        .img-container {
            width: auto;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .bdy-pcs {
                width: auto;
                height: 250px;
                order: 1;

            }

        .outer-box {
            width: 80vw;
            height: 90vh;
            border-style: solid;
            border-color: rgb(67, 47, 25);
            border-width: 7px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: auto;
            background-image: url('../pictures/stud\ bg.png');
            background-size: 90px;
            background-color: rgb(131, 94, 55);
            border-radius: 25px;
            flex-direction: column;
            gap: 20px;
        }

            .store-hd {
                width: 100%;
                height: 15%;
                background-color: rgb(38, 174, 56);
                border-radius: 20px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                margin: 0px;
                display: flex;
                justify-content: flex-start; 
                align-items: center;        
                background-image: url('../pictures/stud\ bg.png');
                background-size: 90px;
                border-bottom: black 3px solid;
                box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
            }

            /*Trademark ni Theo*/
                .btn.restock { 
                    text-align: center;
                    font-size: large;
                    font-weight: bolder;
                    color: white;
                    padding-top: 15px;
                    background: #1e90ff;
                    background-size: 90px; 
                    border: 3px solid #0b5ed7;
                    box-shadow: 0 4px 0 #0b5ed7; 
                    border-radius: 10px;
                    height: 40%;
                    width: 50%;
                    margin-left: 1%;
                } 

                .btns {
                    margin-top: 30px;
                    margin-right: 35px;
                    display: flex;
                    flex-direction: row;
                    width: 25%;
                    height: 100%
                }
            
                /* Close button red */ 
                .btn.close { 
                    text-align: center;
                    font-size: large;
                    font-weight: bolder;
                    color: white;
                    padding-top: 15px;
                    background: #ff4040;
                    background-size: 90px; 
                    border: 3px solid #b30000; 
                    box-shadow: 0 4px 0 #b30000;
                    border-radius: 10px;
                    margin-left: 15px;
                    height: 40%;
                    width: 50%;
                } 
            
                .btn:hover { 
                    filter: brightness(1.25); 
                    transform: translateY(-2px); 
                } 

                .btn:active { 
                    transform: translateY(2px); 
                    box-shadow: 0 1px 0 rgba(0,0,0,0.4); 
                    filter: brightness(0.9); 
                } 
                
                .x-btn {
                    height: 50px;            
                    width: 50px;               
                    margin-right: 20px;      
                    cursor: pointer;
                    color: white;
                    background-color: red;
                    display: flex;         
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    list-style-type: none; 
                    /*fonts*/
                    font-family: "Comic Sans Neue", sans-serif;
                    font-size: 100%;
                    font-weight: bold;
                }

    
            .inner-box {
                width: 90%;
                height: 80%;
                padding: 20px;
                border-radius: 10px;
                order: 2;
                overflow: scroll;
                scrollbar-width: thick;
                scrollbar-color: rgba(255, 255, 255, 0.429) transparent;
            }

h1 {
    height: auto;
    width: 100%;
    margin-right: 4%;
    margin-left: 4%;
    padding: 0%;
    font-family: Arial;
    color:  rgb(255, 255, 255); 
    -webkit-text-stroke: rgb(255, 255, 255) 1px;
    text-shadow: black 1px 1px 3px;
    font-weight: bolder; 
    font-family: "Comic Sans Neue", cursive;
}

/*btn*/
ul {
    font-family: Arial;  
    list-style-type: none; 
    text-align: left;
    font-family: "Comic Sans Neue", sans-serif;
}

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: white;
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        text-align: center;
    }

    .close-btn {
        float: right;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }

    .dr-btn, .jc-btn, .jm-btn, .ry-btn, .mv-btn, .al-btn {
        background: #70bc36;
        background-size: 90px; 
        border: 3px solid #3a6419; 
        box-shadow: 0 4px 0 #3a6419; 
        border-radius: 10px;
        padding: 15px;
        width: 110px;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        cursor: pointer;
        order: 2;
    }

/*info*/
ul {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    gap: 10px;
}

ul li {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}

ul label {
    display: inline-block;
    margin-top: 8px;
    background: brown;
    padding: 6px 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

ul label:hover {
    transform: scale(1.2);
}

@font-face {
  font-family: 'Comic Sans Neue';
  src: url('fonts/ComicNeue-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


/*CSS FLIP*/
.card {
    background-color: #48230e;
    border-radius: 10px;
    border: 6px solid #1a0a04;
    height: 200px;
    margin-bottom: 15px;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
}

.card:hover {
    transform: scale(1.02);
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 0.6s ease;
    display: block;
}

.front {
    background-color: #48230e;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    z-index: 1;
}

.front2 {
    padding-top: 2.5%;
    position: absolute;
    left: 86%;
    width: 19%;
    align-items: right;
    order: 2;
    z-index: 2;
}

.back {
    background-color: #48230e;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    line-height: 0.5px;
    background-color: #613216;
    z-index: 1;
    color: aliceblue;
}

.back2{
    line-height: 9px;
    margin-left: 20px;
    margin-top: 5px;
}

.back {
    transform: rotateY(180deg);
}

#popup1:checked ~ .card-inner,
#popup2:checked ~ .card-inner,
#popup3:checked ~ .card-inner,
#popup4:checked ~ .card-inner,
#popup5:checked ~ .card-inner,
#popup6:checked ~ .card-inner {
    transform: rotateY(180deg);
}

.imeydge {
    margin: 15px 0px 15px 15px;
    border: 4px solid #321809;
    background-color: rgb(131, 94, 55);
    max-height: 100%;
    width: 18%;
}

.imeydge img:hover {
    animation: shake 0.3s infinite;
}

 @keyframes shake { 
      0% { transform: scale(1.0) translate(0, 0) rotate(0deg); } 
      15% { transform: scale(1.0) translate(-4px, 3px) rotate(-3deg); } 
      30% { transform: scale(1.0) translate(4px, -3px) rotate(3deg); } 
      45% { transform: scale(1.0) translate(-3px, -4px) rotate(-2deg); } 
      60% { transform: scale(1.0) translate(3px, 4px) rotate(2deg); } 
      75% { transform: scale(1.0) translate(-4px, 3px) rotate(-3deg); } 
      100% { transform: scale(1.0) translate(0, 0) rotate(0deg); } 
}

.imeydge img {
    max-height: 100%;
    width: 100%
    
}

.gept {
    height: 35px;
    width: 35px;
}

.shopee {
    height: 35px;
    width: 35px;    
}

.dr-gft, .jc-gft, .jm-gft, .ry-gft, .mv-gft, .al-gft {
    background: #ff4040;
    background-size: 90px; 
    border: 3px solid #b30000;
    box-shadow: 0 4px 0 #b30000;
    border-radius: 10px;
}

.dr-shp, .jc-shp, .jm-shp, .ry-shp, .mv-shp, .al-shp {
    background-color: #1e90ff;
    background-size: 90px; 
    border: 3px solid #0b5ed7; 
    box-shadow: 0 4px 0 #0b5ed7; 
    border-radius: 10px;
}

.text {
    font-size: 50px;
    font-family: "Comic Sans Neue", sans-serif;
    color: white;
    -webkit-text-stroke: 1px #1a0a04;
    font-weight: bold;
    text-align: left; 
}
.card-inner ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    width: 100%; /* make it fill the card */
    margin-left: 2%;
}

.card-inner ul li {
    display: block;
    text-align: left; /* override any flex alignment */
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7px 0;
    margin-top: 15px;
}

.name {
    color: aliceblue;
    font-size: 50px;
    -webkit-text-stroke: 2px #1a0a04;
}

.motto {
    color: aliceblue;
}
.sheckles {
    font-size: 50px;
    color: rgb(28, 237, 63);
    -webkit-text-stroke: 2px #1a0a04;

}

.details {
    color: white;
    font-size: 100px;
}

@media (max-width: 767px) {

    .loader {
        gap: 50px;

    }

    .loader img {
        width: 5%;
        height: 5%;
    }

    .bdy-pcs {
        width: 50%;
        height: auto;
    }

    .store-hd {
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    h1 {
        
        font-size: 15px;
        -webkit-text-stroke: white;
        justify-content: center;
        align-items: center;
    }

    .btns {
        width: 80%;
        height: 100%;
    }

    .outer-box {
        flex-direction: column;
    }

    .inner-box{
        order: 1;
        width: 100%;
    }

    .card {
        height: 450px;
        display: flex;
        flex-direction: column;
    }

    .front2 {
        height: 30%;
        display: flex;
        flex-direction: column; 
    }

    .front {
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .imeydge {
        width: 50%;
        height: auto;
    }

    .name {
        -webkit-text-stroke: white;
        font-size: 30px;
    }
}